@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
}

:root {
    font-size: 18px;

    --color-primary-light-red: hsl(0, 100%, 67%);
    --color-primary-orangey-yellow: hsl(39, 100%, 56%);
    --color-primary-green-teal: hsl(166, 100%, 37%);
    --color-primary-cobalt-blue: hsl(234, 85%, 45%);

    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-pale-blue: hsl(221, 100%, 96%);
    --color-neutral-light-lavender: hsl(241, 39%, 76%);
    --color-neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

body {
    font-size: 1em;
    font-weight: 500;
    color: var(--color-neutral-light-lavender);
    background-color: var(--color-neutral-white);
}

main {
    height: 100vh;
    display: grid;
    place-items: center;
}

#box {
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 30px 20px 10px hsl(0deg 0% 0% / 12%);
    height: 450px;
    width: 700px;
}

#result {
    border-radius: 30px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 350px;
    padding: 30px 50px 30px 50px;
    text-align: center;
}

#result h1 {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    padding-top: 30px;
    margin-bottom: 30px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#circle span {
    font-weight: 700;
    font-size: 3.5em;
    color: var(--color-neutral-white);
}

#result h2 {
    font-size: 1.5em;
    color: var(--color-neutral-white);
    margin-bottom: 20px;
}

#summary {
    padding: 30px 50px 30px 50px;
}

#summary h1 {
    color: var(--color-neutral-dark-gray-blue);
    font-size: 1.2em;
    margin-bottom: 30px;
}

section {
    width: 250px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-neutral-pale-blue);
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.score {
    font-weight: 700;
    color: var(--color-neutral-dark-gray-blue);
}

button {
    position: relative;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    color: var(--color-neutral-white);
    background-color: var(--color-neutral-dark-gray-blue);
    border-radius: 25px;
    margin-top: 30px;
    overflow: hidden;
}

button span {
    z-index: 1;
    position: relative;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    opacity: 0;
    transition: opacity .5s;
}

button:hover::before:not(button span) {
    opacity: 1;
}

@media screen and (max-width: 699px) {
    #box {
        flex-direction: column;
        height: 100%;
        width: 100vw;
        box-shadow: none;
    }

    #result {
        width: 100vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #summary {
        padding: 20px;
    }

    section {
        width: auto
    }

    button {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 90vw;
    }
    .attribution {
        display: none;
    }
}